@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
    font-family: Montserrat;
}
h1{
    color: #FFF;
    font-family: Montserrat;
    size: 40px;
    vertical-align: middle;
    padding-top: 15px;
}
.main {
    background-image: linear-gradient(45deg, rgba(0,192,255,0.5), rgba(66,24,187,1));
    height: 100%;
    width: auto;
}
.nav {
    padding: 15px;
    background-color: rgba(0,0,0,0);
    height: 20%;
    width: auto; 
}
.ctrlaltshift {
    width: auto;
    padding-left: 10px;
    float: auto;
    padding-top: 10px;
}
.content {
    height: auto;
    width: 50%;
}
.signup {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
input.signup {
    width: auto;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    color: #FFF;
    font-size: medium;
}
input.signup:hover{
    background-color: rgba(255, 255, 255, 0.25);
  }
.about {
    margin: 2vh;
    padding: 1vh; 
    height: auto;
    width: 50%;
    color: rgba(66,24,187,1);
    background-color: rgba(255, 255, 255, 0.20);
    text-align: center;
    float: left;
}
.log{
    width: inherit;
    height: auto;
    float: right;
    margin-right: 10%;
}
.avatar{
    height: 10vh;
    width: 10vh;
}
.user {
    height: auto;
    width: 10vh;
}
.password {
    height: auto;
    width: 10vh;
    border-radius: 5px;
}
.logit {
    width: 10vh;
    background-color: rgba(66,24,187,1);
    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    color: #FFF;
}

